@layout WebSiteLayout

@page "/Kalibrasyon"

<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="icon-box-item text-center col-lg-4 col-md-6 mb-4">
				<div class="rounded shadow py-5 px-4">
					<div class="icon">
						<i class="fas fa-weight"></i>
					</div>
					<h3 class="mb-3">Kalibrasyon Başvurusu</h3>
					<p class="mb-4">
						Cihazlarınızın kalibrasyonunu yaptırmak için başvuru formunu doldurunuz
					</p>
					<a class="btn btn-sm btn-outline-primary" href="/KalibrasyonBasvurusu">
						Başvur
						<i class="las la-arrow-right ms-1"></i>
					</a>
				</div>
			</div>
			<div class="icon-box-item text-center col-lg-4 col-md-6 mb-4">
				<div class="rounded shadow py-5 px-4">
					<div class="icon">
						<i class="fas fa-search"></i>
					</div>
					<h3 class="mb-3">Başvuru Durumu</h3>
					<p class="mb-4">
						Daha önce yaptığınız başvurunuzun durumunu buradan öğrenebilirsiniz
					</p>
					<a class="btn btn-sm btn-outline-primary" href="/MusteriTakip">
						Sorgula
						<i class="las la-arrow-right ms-1"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

@code
{

}