<section class="team_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2 class="">
                Bize <span>Ulaşın</span>
            </h2>
            <br/>
            <h6>
                RadLab İkincil Standart Dozimetri Laboratuvarı ve Radyasyon Ölçüm Sistemleri Sanayi ve Ticaret A.Ş.
            </h6>
        </div>
        <div class="team_container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="box ">
                        <div class="detail-box">
                            <h3>
                                Radlab
                            </h3>
                            <br />
                            <p>
                                <i class="fa fa-compass" style="font-size:20px"></i>&nbsp;&nbsp;Ahi Evran OSB Mah. Erkunt Cad. No:3/11 Sincan Ankara
                            </p>
                            <br/>
                            <p>
                                <i class="fa fa-mobile" style="font-size:20px"></i>&nbsp;&nbsp;+90 533 402 92 64
                            </p>
                            <br />
                            <p>
                                <i class="fa fa-phone" style="font-size:20px"></i>&nbsp;&nbsp;+90 312 87 019 87
                            </p>
                            <br />
                            <p>
                                <i class="fa fa-envelope" style="font-size:20px"></i>&nbsp;&nbsp;<a href="mailto:bilgi@radlab.com.tr">bilgi@radlab.com.tr</a>
                            </p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="box" style="padding-top:0px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24457.73446021599!2d32.554174!3d39.98126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3300989c19055%3A0xb403ba60681a14ad!2sErkunt%20Cd.%20No%3A3%20D%3A2%2C%2006930%20Ahi%20Evran%20Osb%2FSincan%2FAnkara!5e0!3m2!1str!2str!4v1690729630364!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="border: 0; width:100%; height:23.3rem;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}