@layout EmptyLayout

@page "/Auth/ActivatePassword"
@page "/Auth/ActivatePassword/{AktivasyonKodu}"

@inject IJSRuntime js
@inject NavigationManager navigationManager

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="/" class="logo d-flex align-items-center w-auto">
                            <img src="img/logo.png" alt="" style="max-height: 72px; margin-right: 0;">
                        </a>
                    </div>

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                @*<h5 class="card-title text-center pb-0 fs-4">RADLAB</h5>*@
                            </div>

                            <EditForm Model="@loginDTO" OnSubmit="SendProcess" class="row g-3 needs-validation">
                                <DataAnnotationsValidator />

                                <div class="col-12">
                                    <label for="tbEMail" class="form-label">E-Posta Adresiniz</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                        <input id="tbEMail" name="username" @bind-value="loginDTO.Mail" class="form-control"
                                               type="text" placeholder="E-posta adresiniz" autocomplete="off" required />
                                        <div class="invalid-feedback">Sistemde kayıtlı e-posta adresinizi giriniz</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="tbPassword" class="form-label">Şifreniz</label>
                                    <input id="tbPassword" name="password" @bind-value="loginDTO.Password" class="form-control"
                                           type="password" placeholder="Yeni şifreniz" autocomplete="off" required />
                                    <div class="invalid-feedback">Yeni şifrenizi giriniz</div>
                                </div>

                                <div class="col-12">
                                    <label for="tbPassword2" class="form-label">Şifrenizi Tekrar Giriniz</label>
                                    <input id="tbPassword2" name="password2" @bind-value="loginDTO.Password2" class="form-control"
                                           type="password" placeholder="Şifrenizi tekrar giriniz" autocomplete="off" required />
                                    <div class="invalid-feedback">Şifrenizi tekrar giriniz</div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary btn-block w-100" disabled="@loading">Şifremi Oluştur</button>
                                </div>

                            </EditForm>

                        </div>
                    </div>

                    <div class="credits">
                        <a href="/Login" style="font-weight:600;">Giriş Sayfasına Git</a>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>

@if (loading)
{
    <div class="progressBackground">
        <div class="progressPopup">
            <img alt="Bekleyiniz..." src="img/loading.gif" width="100" height="100" />
        </div>
    </div>
}

@code
{
    [Inject] protected ILoginService loginService { get; set; }

    bool loading = false;

    LoginDTO loginDTO = new LoginDTO();

    [Parameter]
    public string AktivasyonKodu { get; set; }

    private async Task SendProcess()
    {
        if (string.IsNullOrEmpty(AktivasyonKodu))
        {
            await js.InvokeVoidAsync("SweetMessage", "Uyarı", "Aktivasyon kodu bulunamadı", "warning");
            return;
        }

        if (loginDTO.Password != loginDTO.Password2)
        {
            await js.InvokeVoidAsync("SweetMessage", "Uyarı", "Şifrenizi ikinci bölümde farklı girdiniz", "warning");
            return;
        }

        loading = true;

        loginDTO.AktivasyonKodu = AktivasyonKodu;

        var result = await loginService.UpdatePasswordByAktivasyonKodu(loginDTO);

        if (result.Success)
        {
            loading = false;

            await InvokeAsync(StateHasChanged);

            if (result.Value == "KayitYok")
            {
                await js.InvokeVoidAsync("SweetMessage", "Uyarı", "E-posta adresi veya aktivasyon kodu geçersiz", "warning");
            }
            else
            {
                navigationManager.NavigateTo("/Login", false);
            }
        }
        else
        {
            loading = false;

            await InvokeAsync(StateHasChanged);

            await js.InvokeVoidAsync("SweetToast", "Hata", "error");
        }
    }
}