@layout EmptyLayout

@page "/Auth/ForgetPassword"

@inject IJSRuntime js
@inject NavigationManager navigationManager

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="/" class="logo d-flex align-items-center w-auto">
                            <img src="img/logo.png" alt="" style="max-height: 72px; margin-right: 0;">
                        </a>
                    </div>

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                @*<h5 class="card-title text-center pb-0 fs-4">RADLAB</h5>*@
                            </div>

                            <EditForm Model="@loginDTO" OnSubmit="sendProcess" class="row g-3 needs-validation">
                                <DataAnnotationsValidator />

                                <div class="col-12">
                                    <label for="tbEMail" class="form-label">E-Posta Adresiniz</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                        <input id="tbEMail" name="username" @bind-value="loginDTO.Mail" class="form-control"
                                               type="text" placeholder="e-posta adresiniz" autocomplete="off" required />
                                        <div class="invalid-feedback">Sistemde kayıtlı e-posta adresinizi giriniz</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary btn-block w-100" disabled="@loading">Şifre Oluştur</button>
                                </div>

                            </EditForm>

                        </div>
                    </div>

                    <div class="credits">
                        <a href="/Login" style="font-weight:600;">Giriş Sayfasına Git</a>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>

@if (loading)
{
    <div class="progressBackground">
        <div class="progressPopup">
            <img alt="Bekleyiniz..." src="img/loading.gif" width="100" height="100" />
        </div>
    </div>
}

@code
{
    [Inject] protected ILoginService loginService { get; set; }
    [Inject] protected ISMSMailService smsMailService { get; set; }

    bool loading = false;
    LoginDTO loginDTO = new LoginDTO();
    MailDTO mailDTO = new MailDTO();

    private async Task sendProcess()
    {
        loading = true;

        bool devam = true;

        // Mail var mı kontrolü

        var resultAktivasyonKodu = await loginService.GetAktivasyonKoduByMail(loginDTO.Mail);

        if (resultAktivasyonKodu.Success)
        {
            if (resultAktivasyonKodu.Value == "KayitYok")
            {
                loading = false;
                devam = false;
                await InvokeAsync(StateHasChanged);
                await js.InvokeVoidAsync("SweetMessage", "Uyarı", "Girdiğiniz e-posta adresine ait hesap bulunamadı", "warning");
            }
        }
        else
        {
            loading = false;
            devam = false;
            await InvokeAsync(StateHasChanged);
            await js.InvokeVoidAsync("SweetToast", resultAktivasyonKodu.Message, "error");
        }

        // Mail gönder

        if (devam)
        {
            var link = navigationManager.BaseUri + "Auth/ActivatePassword/" + resultAktivasyonKodu.Value;

            mailDTO.Subject = "RADLAB Şifreniz";
            mailDTO.Body = $"<a href='{link}'>Şifrenizi oluşturmak için tıklayınız</a>";
            mailDTO.ToList = new List<string>() { loginDTO.Mail };

            var resultMail = await smsMailService.SendMail(mailDTO);

            loginDTO.Mail = "";

            loading = false;

            await InvokeAsync(StateHasChanged);

            if (resultMail.Success)
            {
                await js.InvokeVoidAsync("SweetMessage", "Bilgi", "Şifre oluşturma linkiniz e-posta adresinize gönderildi. Gelen kutusu ve gereksiz e-posta kutularını kontrol ediniz.", "success");
            }
            else
            {
                await js.InvokeVoidAsync("SweetToast", resultMail.Message, "error");
            }
        }
    }
}