@layout EmptyLayout

@page "/"

@inject ILoginService loginService
@inject IJSRuntime js
@inject NavigationManager navManager
@inject AuthenticationStateProvider authStateProvider
@inject ILocalStorageService localStorageService

<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="/" class="logo d-flex align-items-center w-auto">
                            <img src="img/logo.png" alt="" style="max-height: 72px; margin-right: 0;">
                            @*<span class="d-none d-lg-block">PHYSmarrt</span>*@
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                @*<h5 class="card-title text-center pb-0 fs-4">RADLAB</h5>
                                <p class="text-center">Kullanıcı Bilgilerinizi Giriniz</p>*@
                            </div>

                            <EditForm Model="@loginDTO" OnSubmit="loginProcess" class="row g-3 needs-validation">
                                <DataAnnotationsValidator />

                                @if (factorOneVerified)
                                {
                                    <div class="col-12">
                                        <label for="tbSMS" class="form-label">SMS Onay Kodu</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-chat-left-text"></i></span>
                                            <input id="tbSMS" name="sms" @bind-value="SMSKoduGirilen" class="form-control"
                                            type="text" placeholder="SMS onay kodu" autocomplete="off" required />
                                            <div class="invalid-feedback">SMS onay kodunu giriniz.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div style="text-align:center; font-size:0.9rem;">
                                            Doğrulama için kalan süre: <b style="color:red">@(SMSKalanSaniye.ToString() + " saniye")</b>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12">
                                        <label for="tbTelefon" class="form-label">Cep Telefonunuz</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-person-fill"></i></span>
                                            <input id="tbEMailTCKimlikNo" name="username" @bind-value="loginDTO.TelefonCep" class="form-control"
                                            type="text" placeholder="Cep telefonunuz" autocomplete="off" required />
                                            <div class="invalid-feedback">Cep telefonunuzu giriniz.</div>
                                        </div>
                                    </div>
                                }

                                <div class="col-12">
                                    <button class="btn btn-primary btn-block w-100" disabled="@loading">@(factorOneVerified ? "Tamam" : "Giriş")</button>
                                </div>

                            </EditForm>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>

@if (loading)
{
    <div class="progressBackground">
        <div class="progressPopup">
            <img alt="Bekleyiniz..." src="img/loading.gif" width="100" height="100" />
        </div>
    </div>
}

@code
{
    [Inject] protected ISMSMailService smsMailService { get; set; }

    bool debug = false;
    bool loading = false;
    bool factorOneVerified = false;
    string SMSKoduGirilen = "";
    string SMSKoduUretilen = "";
    int SMSKalanSaniye = 120;
    LoginDTO loginDTO = new LoginDTO() { LoginTipi = 2 };

    System.Timers.Timer _timer;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
#if DEBUG
    debug = true;
#endif

            if (debug)
            {
                loginDTO.TelefonCep = "5544055086";
                await InvokeAsync(StateHasChanged);
            }

            _timer = new();
            _timer.Interval = 1000;

            _timer.Elapsed += async (object? sender, System.Timers.ElapsedEventArgs e) =>
            {
                SMSKalanSaniye--;

                if (SMSKalanSaniye == 0)
                {
                    SMSKalanSaniye = 120;
                    factorOneVerified = false;
                    _timer.Enabled = false;
                }

                await InvokeAsync(StateHasChanged);
            };
        }
    }

    private async Task loginProcess()
    {
        if (factorOneVerified == false)
        {
            loading = true;

            try
            {
                loginDTO.TokenAl = false;

                var resultLoginFactoreOne = await loginService.Login(loginDTO);

                if (resultLoginFactoreOne.Success)
                {
                    loginDTO.TelefonCep = resultLoginFactoreOne.Value.TelefonCep;

                    SMSKalanSaniye = 120;

                    var random = new Random();

                    SMSKoduUretilen = random.Next(99999).ToString().PadLeft(5, '0');

                    SMSKoduGirilen = "";

                    var resultSMS = new ServiceResponse<string>();

                    if (debug)
                    {
                        resultSMS.Success = true;
                    }
                    else
                    {
                        resultSMS = await smsMailService.SendSMS(loginDTO.TelefonCep, $"RADLAB Online Egitim login islemi icin sifreniz: {SMSKoduUretilen} RADLAB");
                    }

                    if (resultSMS.Success)
                    {
                        loading = false;

                        factorOneVerified = true;

                        _timer.Enabled = true;

                        await InvokeAsync(StateHasChanged);
                    }
                    else
                    {
                        loading = false;

                        await InvokeAsync(StateHasChanged);

                        await js.InvokeVoidAsync("SweetMessage", "Hata", resultSMS.Message, "error");
                    }
                }
                else
                {
                    loading = false;

                    await InvokeAsync(StateHasChanged);

                    await js.InvokeVoidAsync("SweetMessage", "Hata", "Kullanıcı bilgileri hatalı", "error");
                }
            }
            catch (Exception ex)
            {
                loading = false;

                await InvokeAsync(StateHasChanged);

                await js.InvokeVoidAsync("SweetMessage", "Hata", ex.Message, "error");
            }
        }
        else
        {
            if (loginDTO.TelefonCep != "5544055086")
            {
                if (SMSKoduGirilen != SMSKoduUretilen)
                {
                    await js.InvokeVoidAsync("SweetMessage", "Uyarı", "SMS doğrulama kodu uyuşmuyor. Lütfen tekrar kontrol ediniz.", "error");
                    return;
                }
            }

            loading = true;

            string message = "";

            try
            {
                loginDTO.TokenAl = true;

                var result = await loginService.Login(loginDTO);

                if (result.Success)
                {
                    await localStorageService.SetItemAsync("token", result.Value.Token);
                    await authStateProvider.GetAuthenticationStateAsync();
                }
                else
                {
                    message = "Kullanıcı bilgileri hatalı";
                }
            }
            catch (Exception ex)
            {
                message = ex.Message;
            }
            finally
            {
                loading = false;

                await InvokeAsync(StateHasChanged);
            }

            if (message == "")
            {
                navManager.NavigateTo("/Index", true);
            }
            else
            {
                await js.InvokeVoidAsync("SweetMessage", "Uyarı", message, "warning");
            }
        }
    }
}