@*<section class="about_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Biz<span>Kimiz</span>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="finexo/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        Radlab
                    </h3>
                    <p>
                        Şirketimizin kuruluş amacı, faaliyetleri esnasında radyasyon kaynakları kullanan kamu veya özel tüzel kişiler ile gerçek kişilere radyasyon sağlığı ve güvenliği konularında danışmanlık yapmak ve bu kişilerin ihtiyacına yönelik mühendislik, enerji, ithalat, ihracat sanayi ve ticaret konularında faaliyet göstermektir.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h5>
                <b>RadLab İkincil Standart Dozimetri Laboratuvarı ve Radyasyon Ölçüm Sistemleri Sanayi ve Ticaret A.Ş.</b>
            </h5>
            <br />
            <h6>
                Şirketimizin kuruluş amacı, faaliyetleri esnasında radyasyon kaynakları kullanan kamu veya özel tüzel kişiler ile gerçek kişilere radyasyon sağlığı ve güvenliği konularında danışmanlık yapmak ve bu kişilerin ihtiyacına yönelik mühendislik, enerji, ithalat, ihracat sanayi ve ticaret konularında faaliyet göstermektir.
            </h6>
        </div>
        <div class="why_container">
            <div class="box">
                <div class="detail-box" style="text-align:justify">
                    <h6>
                        Şirketimiz bu kapsamda aşağıdaki faaliyetleri yürütmektedir:
                    </h6>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Radyasyon Sağlığı ve Güvenliği konularında danışmanlık,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Radyasyon Doz Hızı Ölçüm Cihazlarının kalibrasyonu,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Endüstriyel radyografi cihazlarının radyoaktif kaynak değiştirme işlemlerini yapılması, bu cihazların taşınması, alımı, satışı, üretimi, kiralanması, ithal ve ihracatı,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Radyasyon kaynaklarıyla çalışan radyasyon görevlileri ile çalışanlarına ve radyasyondan korunma sorumlularına yönelik radyasyondan korunma eğitimleri verilmesi ve bu eğitimlerin organize edilmesi,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Radyasyon ölçüm cihazlarının kullanımı ile ilgili her türlü eğitim verilmesi,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Çalışma yerlerinde radyasyon dozu ölçümleri ve hesabının yapılması,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Dozimetri hizmeti verir, her türlü kişisel radyasyon dozimetrelerinin değerlendirmesi, radyasyon çalışanlarının kişisel doz takibi ile risk değerlendirmelerini yapılması ve doz sonuç raporu düzenlenmesi,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Radyasyon kaynaklarının ve radyasyon üreten cihazların bulunduğu tüm tesis ve laboratuvarların (Hastanelerin radyoloji, radyasyon onkolojisi, nükleer tıp bölümleri, üniversitelerin ve hastanelerin ya da özel araştırma kurumlarının araştırma laboratuvarları, radyofarmasötik üretim merkezleri, endüstriyel radyografi kaynak değişim merkezi ve her türlü endüstriyel uygulama alanının) radyasyon güvenliğine uygun olarak tasarlanması, planlanması, radyasyon zırhlama hesaplanın yapılması, projelerin değerlendirilmesi, zırhlama yeterliliğini ölçülmesi, kontrolü, bu tesis ve laboratuvarların inşası, işletilmesi, gerekli parçaların ithal ve ihracı,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Hasta ve hastane personelinin iyonlaştırıcı radyasyon maruziyetini ölçülmesi, hesaplanması ve raporlanması,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Doğal radyasyon düzeyleriyle ilgili ölçüm ve değerlendirmeler yapılması,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Nükleer ve radyolojik tesislerde, radyasyondan korunmayla ilgili ölçüm programlarını hazırlanması ve uygulanması, halkın ve çevrenin radyasyon korunması için radyasyon kaynaklarının güvenliğini sağlamak üzere gerekli önlemleri alınması, tehlike durum planlarının hazırlanması,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Radyoaktif atıklarla ilgili her türlü planlama, denetim, gözetim, ölçüm işlemlerini yapılması, radyoaktif atıkları taşır ve bertarafı için gerekli işlemlerin gerçekleştirilmesi.
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Mevzuata uygun olarak yurt içi ve yurtdışında radyoaktif kaynak ya da radyoaktif kaynak içeren cihazların risk değerlendirmesinin yapılması ve taşınması,
                    </p>
                    <br />
                    <p>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Her türlü radyasyon deteksiyon ölçüm ve radyasyon güvenliği cihaz, ekipman, araç, gereç ve donanımlarının alımı, satımı, ithalatı ihracatı ve üretimi.
                    </p>
                    <br />
                    <br />
                    <div style="border:solid 1px silver; padding:8px; text-align:center;">
                        <h5>
                            Logomuz
                        </h5>
                        <br />
                        <a href="img/radlab_logo.jpg" download title="Tıklayıp indirebilirsiniz">
                            <img src="img/radlab_logo.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}

@code {

}