#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.popup1200 {
    height: calc(100vh - 3.5rem);
    max-width: 1200px !important;
}

    .popup1200 > .modal-content {
        top: 50%;
        transform: translate(0%, -50%);
    }

.popup1000 {
    height: calc(100vh - 3.5rem);
    max-width: 1000px !important;
}

    .popup1000 > .modal-content {
        top: 50%;
        transform: translate(0%, -50%);
    }

.popup800 {
    height: calc(100vh - 3.5rem);
    max-width: 800px !important;
}

    .popup800 > .modal-content {
        top: 50%;
        transform: translate(0%, -50%);
    }

.popup600 {
    height: calc(100vh - 3.5rem);
    max-width: 600px !important;
}

    .popup600 > .modal-content {
        top: 50%;
        transform: translate(0%, -50%);
    }

.popup400 {
    height: calc(100vh - 3.5rem);
    max-width: 400px !important;
}

    .popup400 > .modal-content {
        top: 50%;
        transform: translate(0%, -50%);
    }

.popupMessage {
    height: calc(100vh - 3.5rem);
}

    .popupMessage > .modal-content {
        top: 50%;
        transform: translate(0%, -50%);
    }

.RequiredCaption {
    color: red;
}

.Gorunur {
    display: block;
}

.Gizli {
    display: none;
}

.Grid {
    display: inline-table !important;
    background-color: white !important;
    border-radius: 0.25rem;
    font-size:0.8rem;
}

    .Grid thead th td {
        border-width: 1px;
        padding: 5px 4px 5px 4px;
        vertical-align: middle !important;
    }

    .Grid thead tr td {
        border-width: 0px 1px 0px 1px;
        padding: 8px;
        vertical-align: middle !important;
    }

    .Grid tbody tr:hover {
        background-color:aliceblue;
    }

    .Grid tbody tr td {
        border-width: 1px;
        vertical-align: middle !important;
        border-top-style: hidden;
        padding: 8px;
    }

    .Grid tbody tr:last-child td{
        border-bottom-width:0px;
    }

.grid-row-header {
    display: table;
    table-layout: fixed;
    width:100%;
    font-weight: bold !important;
    border-top: 1px solid lightgrey;
    /*background: rgb(222,224,228);
    background: linear-gradient(180deg, lavender 35%, rgba(239,246,249,1) 100%);*/
}

.grid-row-footer {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-weight: bold !important;
    border-top: 1px solid lightgrey;
/*    background: rgb(222,224,228);
    background: linear-gradient(0deg, lavender 35%, rgba(239,246,249,1) 100%);*/
}

.grid-row-add {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.grid-command {
    padding: .1rem .25rem !important;
    font-size: 1.1rem;
    line-height: 1.1rem;
}
    .grid-command:hover{
        color: white;
    }

.SagaYasli .text-truncate {
    text-align: right !important;
}

.Ortali .text-truncate {
    text-align: center !important;
}

.Koyu .text-truncate {
    font-weight: bold;
}

.ExpandCollapseDiv {
    margin-bottom: -12px;
}

    .ExpandCollapseDiv input[type="checkbox"] {
        display: none;
    }

    .ExpandCollapseDiv input + label {
        display: inline-block;
        width: 12px;
        height: 12px;
        cursor: pointer;
        background-size: contain;
        background-image: url(../images/oi-png/chevron-right-2x.png);
    }

    .ExpandCollapseDiv input[type="checkbox"]:checked + label {
        background-size: contain;
        background-image: url(../images/oi-png/chevron-bottom-2x.png)
    }


.EkleSecDiv {
    margin-bottom: -12px;
}

    .EkleSecDiv input[type="checkbox"] {
        display: none;
    }

    .EkleSecDiv input + label {
        display: inline-block;
        width: 12px;
        height: 12px;
        cursor: pointer;
        background-size: contain;
        background-image: url(../images/oi-png/pencil-2x.png);
    }

    .EkleSecDiv input[type="checkbox"]:checked + label {
        background-size: contain;
        background-image: url(../images/oi-png/chevron-bottom-2x.png)
    }

.progressBackground {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: transparent;
    cursor: wait;
}

.progressPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    cursor: wait;
}

.showImageBackground {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: transparent;
}

.showImagePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: white;
    border-radius: 6px;
    border:1px solid gray;
    padding:1rem;
}

.showImageClose {
    cursor: pointer;
    position: absolute;
    right: -1rem;
    top: -1.5rem;
    font-size: 2rem;
}

.validation-message {
    color: red;
    font-size: small;
    font-weight: bold;
}

.SolukResim {
    opacity: 0.2;
}

.SpinButtonWithoutButtons::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.btn-link {
    box-shadow: none !important;
    text-decoration: none;
    padding-left: 0px;
    border: none !important;
}

.accordion-button {
    padding:0.5rem;
}

.accordion-body {
    padding: 0.5rem;
}

.cerez {
    padding: 8px;
    background-color: gainsboro;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
}

.logo img {
    max-height: inherit;
}

/*********************************** radzen **********************************/

.rz-dropdown {
    display:block !important;
    height: 29px !important;
    font-size:inherit !important;
    box-shadow:none !important;
    padding: 1px 8px !important;
}

.rz-multiselect-panel {
    width:auto !important;
}

.rz-multiselect-item {
    font-size:inherit !important;
    padding: 4px 8px !important;
}

.ForRadzenWidth100 > div {
    width: 100% !important;
}

.rz-datepicker-title {
    display:flex;
    justify-content:center;
    padding: 3px;
}

.rz-inputtext {
    height: 31px !important;
    padding: 4px 8px !important;
    box-shadow: none !important;
}

/*.rz-datepicker-trigger {
    visibility:hidden;
}*/

/*radzen headeri bozduğu için tekrar eziyoruz. radzeni kaldırısak buraya gerek yok*/
.header {
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%) !important;
    background-color: #fff !important;
    padding-left: 20px !important;
}

.table {
    /*border: 1px solid #dee2e6;*/
    border-collapse: collapse;
    --bs-table-accent-bg: white;
    font-size: 0.8rem;
    vertical-align: middle;
    margin-bottom: 0 !important;
}
    .table thead {
        vertical-align: middle;
        font-weight: bold;
    }

    .table tfoot {
        vertical-align: middle;
    }

/*.form-floating > label {
    left: 0.8rem
}*/

/*.form-floating > .form-select {
    padding-left: 0.8rem;
}*/

.form-select {
    background-position: right 0.35rem center;
    padding-right: 1.25rem;
}

.rblLabel {
    position: relative;
    top: -3.2rem;
    left: 1rem;
    color: grey;
    font-size: smaller;
}


.rblLabelInModal {
    top: -3.2rem;
    left: 0.8rem;
    position: relative;
    color: grey;
    font-size: smaller;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

.sidebar-nav .nav-content a {
    font-size:0.8rem;
}

.ExpandCollapseDiv {
    margin-bottom: -4px;
}

    .ExpandCollapseDiv input[type="checkbox"] {
        display: none;
    }

    .ExpandCollapseDiv input + label {
        display: inline-block;
        width: 12px;
        height: 12px;
        cursor: pointer;
        background-size: contain;
        background-image: url(../img/right.png);
    }

    .ExpandCollapseDiv input[type="checkbox"]:checked + label {
        background-size: contain;
        background-image: url(../img/down.png)
    }

.website-wrap {
    overflow: hidden;
    position: relative;
}

.website-bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-size: cover;
}



/******************* Wallet Templati ile ana templatin çakışmasından kaynaklı bölüm *******************/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
}

.form-select {
    color: #233242;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label {
    opacity: 1;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label {
    opacity: 1;
}

.form-floating > .form-select ~ label {
    opacity: 1;
}

.input-group-text {
    color: #233242;
}

.table {
    /* --bs-table-striped-color: #fff;
            --bs-table-active-color: #fff;
            --bs-table-hover-color: #fff; */
    color: #233242;
}

.form-control:not(textarea) {
    height: inherit;
}

.badge {
    white-space:normal;
}

@media print {
    body {
        visibility: hidden;
    }

    #section-to-print {
        visibility: visible;
        position: absolute;
        left: -100px;
        top: -100px;
    }
}

/*video::-webkit-media-controls-fullscreen-button {
    display: none
}

video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-play-button {
    display: block;
}

video::-webkit-media-controls-enclosure {
    display: block;
}

video::-webkit-media-controls-panel {
    display: block;
}

audio::-webkit-media-controls,
video::-webkit-media-controls {
    display: none;
}*/

/*::-webkit-media-controls-timeline,
::-webkit-media-controls-timeline {
    display: none !important;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none !important;
}*/