@layout WebSiteLayout

@page "/Danismanlik"

<section class="section">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-8">
				<div class="section-title">
					<p class="text-primary text-center text-uppercase fw-bold mb-4">
						RADYOAKTİF MADDELERLE KİRLENMİŞ
						<br/>
						SAHALARIN İYİLEŞTİRİLMESİ ve
						<br/>
						SERBESTLEŞTİRİLMESİ DANIŞMANLIĞI
					</p>
					<h2 class="h6 mb-4" style="text-align:justify">
						İzmir ili Gaziemir İlçesinde bulunan Aslan Avcı Döküm Sanayi ve Ticaret A.Ş. fabrika sahasının radyoaktif maddelerden arındırılması ve serbestleştirilmesi işlemleri sürecinde EKOVAR Çevre Grup Geri Dönüşüm Atık Depolama İnş. Taah. San. ve Tic. A.Ş.’ne danışmanlık hizmeti veriyoruz.
					</h2>
					<div class="row mb-4">
						<div class="col-md-12 mb-2 card-title">
							<img src="/img/danismanlik10.jpg" alt="" />
						</div>
						<div class="col-md-6 mb-2 card-title">
							<img src="/img/danismanlik1.jpg" alt="" />
						</div>
						<div class="col-md-6 mb-2 card-title">
							<img src="/img/danismanlik3.jpg" alt="" />
						</div>
						<div class="col-md-6 mb-2 card-title">
							<img src="/img/danismanlik2.jpg" alt="" />
						</div>
						<div class="col-md-6 mb-2 card-title">
							<img src="/img/danismanlik4.jpg" alt="" />
						</div>
						<div class="col-md-6 mb-2 card-title">
							<img src="/img/danismanlik5.jpg" alt="" />
						</div>
						<div class="col-md-6 mb-2 card-title">
							<img src="/img/danismanlik6.jpg" alt="" />
						</div>
						<div class="col-md-6 mb-2 card-title">
							<img src="/img/danismanlik7.jpg" alt="" />
						</div>
						<div class="col-md-6 mb-2 card-title">
							<img src="/img/danismanlik8.jpg" alt="" />
						</div>
						<div class="col-md-6 mb-2 card-title">
							<img src="/img/danismanlik9.jpg" alt="" />
						</div>
					</div>
					@* <div class="icon-box-item col-lg-8 col-md-12">
						<div class="block" style="display:contents">
							<div class="icon">
								<i class="fas fa-tools"></i>
							</div>
							<div class="icon">
								<i class="fas fa-file-import"></i>
							</div>
							<div class="icon">
								<i class="fas fa-file-export"></i>
							</div>
							<div class="icon">
								<i class="fas fa-truck"></i>
							</div>
						</div>
					</div> *@
					<div class="content pe-0 pe-lg-5">
						<p>
							<b>Şirketimiz, her türlü radyasyon uygulamasında radyasyondan korunmaya yönelik olarak aşağıda verilen konularda danışmanlık yapmaktadır;</b>
						</p>
						<p>
							<i class="fas fa-check text-success"></i> Radyasyon uygulamalarına ilişkin planlanma ve zırhlama hesapları,  zırhlama projelerinin incelenmesi ve yeterliliğinin tespiti,
						</p>
						<p>
							<i class="fas fa-check text-success"></i> Radyasyonla çalışılan yerlerde radyasyondan korunma konusunda ilgili kurum/kuruluşa ve uygulamaya özgü olarak alınacak önlemlerin belirlenmesi,
						</p>
						<p>
							<i class="fas fa-check text-success"></i> Radyasyonla çalışılan yerlerde kullanılacak radyasyon ölçüm cihazlarının, radyasyon ölçüm programlarının, kalite-kontrol ve kalibrasyon işlemlerinin  belirlenmesi, işletme içinde ve dışında gerekli radyasyon ölçümlerinin yapılması, ve ilgili raporun düzenlenmesi,
						</p>
						<p>
							<i class="fas fa-check text-success"></i>Radyasyonla çalışan kişilerin kişisel doz ve risk değerlendirmesinin yapılması  ve kullanacakları dozimetrelerin belirlenmesi, inceleme düzeyi üzerindeki doz değerleri için gerekli tedbirlerin alınmasına yönelik rapor düzenlenmesi,
						</p>
						<p>
							<i class="fas fa-check text-success"></i> Radyoaktif kaynaklar ve radyoaktif atıklarla ilgili radyasyondan korunmayı sağlayıcı tedbirlerin belirlenmesi,
						</p>
						<p>
							<i class="fas fa-check text-success"></i> Hastaların teşhis ve tedavi dozlarının üzerinde gereksiz radyasyon dozuna maruz kalmalarını önleyecek tedbirlerin belirlenmesi,
						</p>
						<p>
							<i class="fas fa-check text-success"></i> Tehlike durumu planlarının hazırlanması,
						</p>
						<p>
							<i class="fas fa-check text-success"></i> Radyasyonla çalışılan yerin kendi özelliklerine uygun olarak Radyasyondan Korunma Programının  hazırlanması,
						</p>
						<p>
							<i class="fas fa-check text-success"></i> Radyasyonla çalışılan yerlerin veya bu yerlerdeki radyasyon kaynaklarının hizmetten çıkarılma aşamalarını radyasyondan korunmaya ilişkin önlemler dâhilinde planlanması.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@code
{

}