@layout WebSiteLayout

@page "/IthalatIhracatTasima"

<section class="section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <p class="text-primary text-uppercase fw-bold mb-3">HİZMETLERİMİZDEN BAZILARI</p>
                    <h2 class="h1 mb-4">Bakım-Onarım,<br />İthalat, İhracat ve Nakliye</h2>
					<div class="icon-box-item col-lg-8 col-md-12">
						<div class="block" style="display:contents">
							<div class="icon">
								<i class="fas fa-tools"></i>
							</div>
							<div class="icon">
								<i class="fas fa-file-import"></i>
							</div>
							<div class="icon">
								<i class="fas fa-file-export"></i>
							</div>
							<div class="icon">
								<i class="fas fa-truck"></i>
							</div>
						</div>
					</div>
                    <div class="content pe-0 pe-lg-5">
                        <p>İşlerinde iyonlaştırıcı radyasyon kaynakları kullanan lisanslı müşterilerimiz için radyoaktif kaynakların ihracatını, ithalatını ve nakliyesi ile Gamagrafi Cihazlarına Ir-192 ve Se-75 Yüklemesi ve Gamagrafi Cihazlarının Bakım-Onarımını yapıyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code
{

}