@layout WebSiteLayout

@page "/RadyoaktifKaynakYukleme"

<section class="section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            @((MarkupString)RadyoaktifKaynakYuklemeMetni)

            @*<div class="col-lg-10">
                <div class="section-title">
                    <p class="text-primary text-uppercase fw-bold mb-3">ENERJİ DOLUMU</p>
                    <h2 class="h1 mb-4">
                        Radyoaktif Kaynak Yükleme
                    </h2>
                    <div class="content pe-0 pe-lg-5">
                        <div class="card">
                            <div class="card-body" style="padding-bottom:4px;">
                                <h5 class="card-title">Başvuru Genel Bilgileri</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="text-align:justify">
                                            <h5>
                                                Sayın Yetkili,
                                            </h5>
                                            <p>
                                                İşlerinde radyasyon uygulamaları kullanan firmalara yönelik olarak Radyasyon Ölçüm Cihazı üretimi, <b>Radyasyon Ölçüm Cihazlarının kalibrasyonu, radyoaktif madde ithalat-ihracatı-taşınması</b> ile özellikle <b>Ir-192 ve Se-75 kaynak değişimi</b> alanında faaliyet göstermek üzere kurulmuş bulunan <b>RadLab İkincil Standart Dozimetri Laboratuvarı ve Radyasyon Ölçüm Sistemleri Sanayi ve Ticaret A.Ş.</b> bu kapsamda; Radyasyondan Korunma Derneğinin teknik ve bilimsel destekleri ile danışmanlık ve gözetimleri altında
                                            </p>
                                            <br />
                                            <p>
                                                1- Radyasyon ölçüm cihazlarının kalibrasyonlarında yaşanan sıkıntıları çözmek üzere ülkemizdeki ilk özel İkincil Standart Dozimetri Laboratuvarını kurup, TÜRKAK'tan akredite ederek ve NDK'dan lisans alarak TENMAK'tan sonra bu alanda alternatif ikinci bir laboratuvar olarak hizmet vermeye başlamıştır.
                                            </p>
                                            <br />
                                            <p>
                                                2- Periyodik aralıklarla ihtiyaç duydukları ve fakat ülkemizdeki tek tedarikçi firmanın coğrafi konumu nedeniyle ulaşım zorlukları çeken NDT firmalarının bu sorununu çözmek üzere NDK'dan <b>"İthaat-İhracat ve Taşıma"</b> ile <b>"Bakım-Onarım ve Kaynak Değiştirme"</b> lisansları alarak radyoaktif kaynakların ithalatı, ihracatı, taşınması, bakım ve onarımı ile kaynak değiştirme alanında hizmet vermeye başlamıştır.
                                            </p>
                                            <br />
                                            <p>
                                                Bu kapsamda;
                                            </p>
                                            <br />
                                            <p>
                                                <a href="/KalibrasyonBasvurusu">KALİBRASYON ihtiyacınız için bu hizmetimizden yararlanabilirsiniz.</a>
                                            </p>
                                            <br />
                                            <p>
                                                2024 Yılı Ocak ayının ilk haftası içerisinde Ir-192 kaynak değişim hizmeti verilecektir. <b style="color:red">İhtiyaç sahibi firmaların en geç 30 Aralık 2023 saat 17:00'ye kadar</b> yukarıda verilen linki kullanarak erişebileceğiniz dilekçeyi ve dilekçe ekinde istenen belgeleri tarafımıza göndermeleri gerekmektedir. Aynı linki kullanarak fiyat tarifemize de ulaşabilirsiniz.
                                            </p>
                                            <br />
                                            <p>
                                                Saygılarımla,
                                                <br />
                                                <b>Yusuf Levent AKSU</b>
                                                <br />
                                                <b>Genel Müdür</b>
                                            </p>
                                            <br />
                                            <p>
                                                RadLab İkincil Standart Dozimetri Laboratuvarı ve Radyasyon Ölçüm Sistemleri Sanayi ve Ticaret A.Ş.
                                                <br />
                                                Ahi Evran OSB Mah. Erkunt Cad. No:3/11 Sincan Ankara
                                                <br />
                                                Sincan VD - 7342105627
                                                <br />
                                                Tlf: +90 507 033 88 24
                                                <br />
                                                +90 507 033 88 24
                                                <br />
                                                +90 312 87 019 87
                                                <br />
                                                <a href="http://www.radlab.com.tr">http://www.radlab.com.tr</a>
                                                <br />
                                                bilgi@radlab.com.tr
                                                <br />
                                                <br />
                                                Not: Yukarıda belirtilen lisans belgeleri aşağıya eklenmiştir.
                                            </p>
                                            <p>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="btn-box">
                                                            <a href="/download/Kaynak_Degistirme_Ucret_Tarifesi.pdf">
                                                                <i class="bi bi-file-pdf"></i> Kaynak Değiştirme Ücret Tarifesi indir
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="btn-box">
                                                            <a href="/download/KaynakBasvuru_Dilekcesi_Ir-192.doc">
                                                                <i class="bi bi-file-word"></i> Kaynak Başvuru Dilekçesi indir
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>

@code
{
    [Inject] protected IAyarService ayarService { get; set; }

    string RadyoaktifKaynakYuklemeMetni = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            RadyoaktifKaynakYuklemeMetni = await ayarService.GetMetin("RadyoaktifKaynakYuklemeMetni");

            await InvokeAsync(StateHasChanged);
        }
    }
}